.title-container {
  display: flex;
  align-items: center;
  gap: 5px;

  [class*='icon'] {
    font-size: 22px;
    color: var(--color-border);
  }
  .title {
    font-size: var(--font-size-medium);
  }
}

